{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'public/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/footer.css' %}" rel="stylesheet"/>
    <link href="{% static 'public/css/buttons.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'public/css/jumbotron-narrow.css' %}" rel="stylesheet"/>

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'public/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'public/js/bootstrap.min.js' %}"></script>

    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
    <title>Title</title>
</head>
<body>
    <h1 align="center">已启动训练</h1>
</body>
</html>